  <div class=col-md-2>
    <div class="panel panel-default">
      <div class="panel-heading">History
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a ng-click='setSelectedBlogId(1)' ng-class="setActiveBlogItem(1)" class='list-group-item' style="cursor:default">Cras justo odio</a>
          <a ng-click='setSelectedBlogId(2)' ng-class="setActiveBlogItem(2)" class='list-group-item' style="cursor:default">Dapibus ac facilisis in</a>
          <a ng-click='setSelectedBlogId(3)' ng-class="setActiveBlogItem(3)" class='list-group-item' style="cursor:default">Morbi leo risus</a>
          <a ng-click='setSelectedBlogId(4)' ng-class="setActiveBlogItem(4)" class='list-group-item' style="cursor:default">Porta ac consectetur ac</a>
          <a ng-click='setSelectedBlogId(5)' ng-class="setActiveBlogItem(5)" class='list-group-item' style="cursor:default">Vestibulum at eros</a>
        </div>        
      </div>
    </div>
  </div>

